body{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
}
.header{
    background-color: #1abc9c;
    text-align: center;
    color: white;
    padding: 80px;
}  
.navbar {
  background-color: #333;
  overflow: hidden;
}
.navbar a{
    color: white;
    list-style-type: none;
    float: left;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}
.navbar a.right{
    float: right;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.row {
    display: flex;
}



.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}



.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

